body{
  margin:0px;
}

h{
    font-family: Calibri;
    font-size: 36px;
    position:relative;
    color:white;
}

input[type=text], select {
  width: 65%;
  height: 55px;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid rgb(17, 50, 102);
  border-top-left-radius: 50em;
  border-bottom-left-radius: 50em;
  box-sizing: border-box;
}

input[type=submit] {
  width: 15%;
  height: 55px;
  background-color: rgb(20 20 55);
  color: white;
  padding: 14px 20px;
  margin-left: -5px;
  border: none;
  border-top-right-radius: 50em;
  border-bottom-right-radius: 50em;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:  rgb(20 20 100);
}

#bg {
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/57/60/xQ0mhT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    position: fixed;
    overflow: auto;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
    margin: auto;
    padding: 125px;
    position: relative;
    overflow: auto;
    width: fit-content;
}

.tabf {
  font-family: Calibri;
    font-size: 20px;
    color: white;
    display: inline;
    padding: 40px;
    border-radius: 36px;
    background-color: rgb(18 20 30);
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 13%), 0 6.7px 5.3px rgb(0 0 0 / 15%), 0 12.5px 10px rgb(0 0 0 / 16%), 0 22.3px 17.9px rgb(0 0 0 / 17%), 0 41.8px 33.4px rgb(0 0 0 / 19%), 0 100px 80px rgb(0 0 0 / 22%);
    width: 400px;
    height: 675px;
}

.tabf:hover {
  transform: scale(1.05);
}

.fontb{
  position: inherit;
  overflow: auto;
  height: 75px;
}

.fontb::-webkit-scrollbar {
    display: none;
}
.fontA{
  position: inherit;
  overflow: auto;
  height: 90px;
  margin: 3px;
}

.fontA::-webkit-scrollbar {
    display: none;
}

.ibox{
  position: relative;
}

.lyrics_box{
  width: 500px;
  height: 500px;
  overflow: auto;
  color: white;
  position: relative;
}